

header{
    background-color: #051E3C;
    display: flex;
    align-items: center;
    width: 100%;              
    padding: 10px 20px;
    box-sizing: border-box;
    height: 60px;
}

header img{
    margin-right: 30px;
}

body {
    margin:0px;
    background-color: #E1F1FF;
}
.menu {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 50px;
    
}

.menu li a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color:aliceblue;
    font-size: 18px;
}

.container{
    max-width: 1414px;
    margin: 0 auto;
    padding: 20px;
    justify-content: center;
}
.carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    align-self: center;
}

.carousel-track {
    display:flex;
    width: 400%;
    transition: transform 0.8s ease-in-out;
}

.slide {
    width: 25%;
    flex-shrink: 0;
}

.slide img{
    width: 100%;
    display:block;
    height:auto;
}

h1 {
    font-family: "Fascinate Inline";
    text-align: center;
    font-size: 70px;
    color:#051E3C
}

h2 {
    font-family:"Montserrat";
    text-align: center;
    font-size: 36px;
    color:#051E3C;
}

.prods-flex {
    display:flex;
    flex-wrap: wrap;
    gap:15px;
    max-width: 1414px;
    margin: 0 auto;
    
}

.items {
    flex: 1 1 250px;
    max-width: 300;
    padding:20px;
    border-radius: 8px;
    text-align: center;
    border: 1px solid #d9e9ff;
    background-color: #d9e9ff;
    font-family: "Montserrat";
}

.items img {
    width: 80%;
    max-width: 200px;
}

.review-grid {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.review-card{
    max-width: 600px;
    padding:20px;
    border-radius: 8px;
    border: 1px solid #d9e9ff;
    background-color: #d9e9ff;
    font-family: Montserrat;
    text-align: center;
}

.filtros{
    margin-left: 30px;
    width:200px;
    padding:10px;
    border-color: white;
    font-family: Montserrat;
}
h4{
    font-size: 20px;
}

p{
    font-style: italic;
    font-size: 18px;
}
footer{
    font-family: Montserrat;
    text-align: center;
}

form{
    padding: 20px;
    font-family: Montserrat;
    display:flex;
    flex-direction:column;
    max-width: 600px;
    text-align: center;
    gap: 15px;
    background-color: #d9e9ff;
    border-radius: 8px;
    margin: 0 auto;
    font-size: 24px;
}

input{
    font-family: Montserrat;
    border: 0;
    height: 30px;
    font-size:20px;
}

textarea{
    font-family: Montserrat;
    border:0;
    height:100px;
    font-size:20px;
}

button{
    background-color: #051E3C;
    height: 45px;
    width:100px;
    margin:0 auto;
    margin-top: 30px;
    font-family: Montserrat;
    color:#E1F1FF;
    font-size: 16px;
}

.img-carrito{
    width:120px;
    height:auto;
    display:block;
    margin-bottom:10px;
}
@media (max-width: 768px){
    header {
        flex-direction: column;
        height: auto;
        padding: 15px;
    }
    .container{
        max-width: 100%;
        padding: 10px;
    }
    .prods-flex{
        flex-direction: column;
        align-items: center;
    }

    form{
        max-width: 100%;
    }
}